:root {
  font-family: "Pretendard Variable", sans-serif;
  --vh: 100%;
}

.root{
  background-color:#366DFF ;
}

.App {
  font-family: "Pretendard Variable ", sans-serif;
}

.App-logo {
  height: 100vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /*.App-logo {*/
  /*  animation: App-logo-spin infinite 20s linear;*/
  /*}*/
}

.noneLink{
  color: transparent;
}

.category {
  color: #333333;
}

.splash-screen {
  height: 70vh;
  width: 100%;
  background-color:#366DFF ;
  pointer-events: none;
}

.main-screen {
  height: 70vh;
  width: 100%;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.mainButton{
  margin-left: 6rem;
  font-family: "Pretendard Variable", sans-serif;
  border-radius: 10px;
}


.header{
  position: absolute;
  top: 1rem;
  left: 1em;
  /*border-style: solid;*/
  /*border-color: red;*/
  width: 360px;
  height: 49.838px;
  font-family: "Pretendard Variable", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.backIcon{
  margin-right: 1rem;
  width: 10%;
  height: 3rem;
}

.aiContent{
  position: relative;
  top: 2rem;
}

.content{
  top: 1.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.locationContent{
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  gap: 0.2rem;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  max-width: 300px;
  margin-left: 45px;
}

.aiButton {
  background-color: #fff;
  border-radius: 100px;
  border: solid 1px #ECECEC;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.aiButton:hover,
.aiButton.selected{
  font-family: "Pretendard Variable", sans-serif;
  border: solid 1px #366DFF;
  color: #366DFF;
  font-weight: bold;
}
.moreButton{
  display: flex;
  padding: 11px 20px 11px 24px;
  align-items: center;
  gap: 4px;
  font-family: "Pretendard Variable", sans-serif;
  font-weight: 700;
  border-radius: 30px;
  border: 1px solid #EAEAEA;
  background-color: white;
}

.locationButton{
 background-color: #fbfbfb;
  width: 160px;
  height: 60px;
  border-radius: 100px;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: solid 1px #dbdbdb;
}

.locationButton:hover,
.locationButton.selected{
  background-color: #366DFF;
  color: white;
  font-weight: bold;
}

.rankContent{
  top: 3rem;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
  margin-left: 3rem;
}

.schoolRank{
  width: 320px;
  height: 60px;
  margin-bottom: 12px;
  font-family: "Pretendard Variable", sans-serif;
  border-radius: 8px;
  background-color: #fff;
  border: none ;
  text-align: left;

}
.rankButton{
  width: 320px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  font-family: "Pretendard Variable", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #333333;
}

.rankButton:hover{
  border: 1px solid #366DFF;
  color: #366DFF ;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
